* {
  padding: 0;
  margin: 0;
}

.topbar {
  display: flex; 
  align-items: center; 
  padding: 5px;
  background-color: black;
  color: aqua;
  font-size: 150%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: space-between;
  
}

.languagebar {
  display: flex; 
  align-items: center; 
  gap: 10px;
}

.mijnaccount,
.afrekenen,
.inloggen {
  float: right;
  margin-right: 20px;
  padding-right: 20px;
}

.underbar {
height: 50px;
background-color: rgb(100, 0, 182);
}

.home, .muurdecoratie, .doosjes, .opbergers, .stools, .gadgets{
  background-color: rgb(100, 0, 182);
  color: antiquewhite;
  padding: 15px 12px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 12px 12px;
  cursor: pointer;
  border: none;
}



