* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

/*Bestelformulier*/
.bestelformulier {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  padding-top: 50px;
  text-align: center;
  width: 100%;
  height: auto;

  gap: 20px;
}



.block1 {
  width: 50px;
}

.block2 {
  width: 50px;
}

.block3 {
  width: 50px;
}

.block4 {
  width: 50px;
}

.block5 {
  width: 50px;
}

.block6 {
  width: 50px;
}

.main1 {
  width: auto;
  height: 100vh;

  padding-left: 300px;
}

form {
  display: flex;
}



/*header begin*/

.topbar {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgb(33, 16, 46);
  color: aqua;
  font-size: 150%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: space-between;
}

.languagebar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mijnaccount,
.afrekenen,
.inloggen {
  float: right;
  margin-right: 20px;
  padding-right: 20px;
}

.underbar {
  height: 70px;
  width: 100%;
  background-color: rgb(100, 0, 182);
  text-align: center;
}

.home,
.muurdecoratie,
.doos,
.opbergers,
.stools,
.gadgets {
  background-color: rgb(90, 0, 164);
  color: antiquewhite;
  padding: 15px 12px;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  margin: 12px 12px;
  cursor: pointer;
  border: none;
}

.info {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.utopbar {
  border-bottom: solid;
  padding: 20px;

}




/*sidebar*/

.maincontent {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(42, 17, 62);
  width: 300px;
  height: 1800px;
  overflow-x: hidden;
  float: left;
}

.kleindoosje {
  width: auto;
  background-color: rgb(90, 0, 164);
  color: antiquewhite;
  padding: 15px 12px;
  font-size: 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border-bottom: solid;
}

ul {
  list-style-position: inside;
}


/*maincontent*/


.main {
  display: grid;
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: 350px 350px 350px;
  float: top;
  margin: 20px;
  gap: 10px;
  margin-top: -50px;
  justify-content: center;
}



.image {
  width: 320px;
  height: 200px;
}

.cdtext {
  position: absolute;
  margin-top: 200px;
  font-size: 30px;
  margin-right: 180px;

}

.recentblock {
  margin-top: 5px;
}

.prijs1 {
  text-decoration: line-through;
}


.prijs {
  position: absolute;
  margin-top: 260px;
  font-size: 15px;
  margin-right: 250px;
  text-decoration: line-through;
}

.korting {
  position: absolute;
  margin-top: 300px;
  font-size: 20px;
  margin-right: 250px;
}

.box {
  background: #828282;
  border: 10px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  margin-top: 70px;
  height: 375px;
}

.square {
  width: 320px;
  height: 200px;
  border: solid;
  border-color: black;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  float: center;
}






/*home*/

.mainhome {
  background-color: rgb(150, 60, 202);
  height: 50vh;
  width: 100%;

}

.hometext1 {
  font-size: 20px;

  color: antiquewhite;
  padding-left: 50px;
  padding-top: 10px;
  padding-right: 200px;

}

.hometext1border {
  border-radius: 50px;
  background-color: #ab45b9;
  padding-top: 50px;
}

/*footer*/

footer {
  background-color: #555;

  width: 100%;
  height: 250px;

  margin-top: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.veiligbetalen {
  color: antiquewhite;
  padding-left: 80px;
  padding-top: 40px;

}

.leveringkosten {
  color: antiquewhite;
  padding-top: 40px;
}

.klantenservice {
  color: antiquewhite;
  padding-top: 40px;
}

.copyright {
  color: antiquewhite;

  margin-top: 90px;
}

.overons {
  color: antiquewhite;
  padding-right: 80px;
  padding-top: 40px;
}


/* Slider start */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 25px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/* Slide end( slider from w3) */